
/* ## Color Pallete

![#da9ff9](https://via.placeholder.com/15/da9ff9/000000?text=+) #da9ff9

  

![#b088f9](https://via.placeholder.com/15/b088f9/000000?text=+) #b088f9

  

![#98acf8](https://via.placeholder.com/15/98acf8/000000?text=+) #98acf8

  

![#bedcfa](https://via.placeholder.com/15/bedcfa/000000?text=+) #bedcfa */
/************************************************************************************
                      Universal Styles
***********************************************************************************/
*{
	margin: 0;
	padding: 0;
}

:root{
  --darkblue: #04009a;
  --blue: #77acf1;
  --violet: #511281;
  --cream: #fbe0c4;
  --black: #000;
  --white: #fff;
}

.text-right{
  text-align: right;
}
.text-left{
  text-align: left;
}

.link{
  text-decoration: none;
  color: var(--black);
}

.link:hover{
  text-decoration: none;
  color: var(--black);
}
/************************************************************************************
                      desktop 1
***********************************************************************************/
.main-background{
	background: url('../images/mp.png');
	height: 100vh;
	width: 100%;
	padding-top:10%
}

.main-title{
	color: var(--white);
	font-size: 60px;
	font-weight: 700;
	margin-bottom: 15%;
}

.secondary-title{
	color: var(--white);
	font-size: 50px;
	font-weight: 600;
}

.form-wrapper{
	background-color: rgba(255,255,255,0.65);
	border-radius: 5%;
	text-align: center;
  margin-top: 8%;
  padding: 25px;
}



.form {
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    width: 30%;
    min-width: 288px;
  }
  
  .form-field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 1.5rem;
  }
  
  .form input {
    outline: none;
  }
  
  .form input[type=text],
  .form input[type=tel],
  .form input[type=email],
  .form input[type=password]
  {
    padding: 1rem;
    padding-bottom: 0.6rem;
    width: 100%;
    border: none;
    background: transparent;
    border-bottom: 3px solid var(--black);
    font-family: 'Poppins';
    transition: border 0.3s ease;
  }
  
  .form input[type=text]:focus,
  .form input[type=tel]:focus,
  .form input[type=email]:focus,
  .form input[type=password]:focus
  {
    border-bottom: 3px solid var(--violet);
  }
  
  .label {
    position: absolute;
    top: 1rem;
    left: 0;
    font-weight: 700;
    transition: all 0.3s ease;
  }
  
  .form input:focus + .label,
  .form input:not(:placeholder-shown) + .label {
    top: -0.2rem;
    color: var(--violet);
    font-size: 0.8rem;
  }
  
 
  .submit-btn{
    background-color: var(--violet);
    border: none;
    color: var(--white); 
    padding: 10px 20px;
  }
  .submit-btn:hover {
    color: #fff;
    outline: 2px solid rgba(81, 18, 129, 0.5);
  }



@media (max-width: 1200px) { }

@media (max-width: 992px) { }

@media (max-width: 768px) {
  .main-title{
    font-size: 40px;
    text-align: center;
  }
  
  .secondary-title{
    font-size: 25px;
    text-align: center;
    margin-bottom: 35px;
  }

  .title{
    font-size: 30px;
  }
 }

/************************************************************************************
                      desktop 2
***********************************************************************************/
.registred{
  padding-top: 100px;
  padding-bottom: 100px;
}

/************************************************************************************
                      desktop 3
************************************************************************************/
 .secondary-background{
  background: url('../images/sp.png');
	height: 100vh;
	width: 100%;
	padding-top:10% 
 }

 .seconday-form-wrapper{
	background-color: rgba(119, 172, 241,0.7) !important;
}
.secondary-text{
  color:var(--black) !important;
}

/************************************************************************************
                      desktop 4
************************************************************************************/
.security-background{
  background: url('../images/sp.png');
	height: 100vh;
	width: 100%;
  background-size: cover;
 }

.video-window {
	width: 100%;
	height: 30vh;
	background-color: #aaa;
	border: 3px solid #666;
	margin-bottom: 5%;
}

.test{
  height:100%;
  width:100%
}

#videoElement{
  height: 100%;
  width: 100%;
}
#camera-heading{
  margin-top: 2%;
  margin-bottom: 5%;
}
#notification{
  background-color: rgba(255,255,255,0.65);
	border-radius: 5%;
}

@media (max-width: 1200px) {
  /* .security-background{
    height: 100%;
   } */
 }

@media (max-width: 992px) { }

@media (max-width: 768px) {
  /* .security-background{
    height: 100vh;
   } */
 }

@media (max-width: 576px) {  }

#red{
  background-color: red;
}

/************************************************************************************
                      Media Query
***********************************************************************************/


@media (max-width: 576px) {  }

@media (max-width: 1200px) { }

@media (max-width: 992px) { }

@media (max-width: 768px) { }

@media (max-width: 576px) {  }