body{
	background: url('../../sp.png') no-repeat;
	background-size: auto;
}
.wrapper{
	width: 100%;
	height: 100%;
	margin-top: 10%;
}
.video-window {
	width: 100%;
	height: 25vh;
	background-color: #aaa;
	border: 3px solid #666;
	margin-bottom: 5%;
}
